@model CameraShop.Areas.Admin.Models.DanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Chi tiết danh mục</h4>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin danh mục: @Model.TenLoai</h5>    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.TenLoai)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenLoai)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GhiChu)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Anh)
                        </dt>

                        <dd>
                            <img src="@Model.Anh" height="200" />
                        </dd>

                    </dl>
                    <div>
                        <a class="btn btn-primary" style="color:white" href="/Admin/DanhMucs/Edit/@Model.MaLoai">Sửa</a>
                        <a class="btn btn-danger" style="color:white" href="/Admin/DanhMucs/Index">Back to List</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
